<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Всі працедавці</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Всі працедавці</h1>
<ul>
    <li th:each="employer : ${employers}">
        <div>
            <h2 th:text="${employer.name}">Ім'я</h2>
            <h4 th:text="${employer.address}">Ім'я</h4>
            <a th:href="@{'/employers/' + ${employer.id}}">Редагувати працедавця</a>
            <table>
                <thead>
                <tr>
                    <th>Працівники</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer : ${employer.customers}">
                    <td th:text="${customer.name}">Ім'я працівника</td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
</ul>
<a href="/employers/new">Додати нового працедавця</a>
<br>
<a href="/customers">Перейти до клієнтів</a>
</body>
</html>