<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редагування клієнта</title>
    <script>
        function addEmployer() {
            const employerSelect = document.getElementById("employerSelect");
            const selectedEmployerId = employerSelect.value;
            const selectedEmployerName = employerSelect.options[employerSelect.selectedIndex].text;

            if (selectedEmployerId === "") return;

            const existingEmployers = document.getElementsByName("employersIds");
            for (let i = 0; i < existingEmployers.length; i++) {
                if (existingEmployers[i].value === selectedEmployerId) return;
            }

            const employersList = document.getElementById("employersList");
            const newEmployer = document.createElement("div");

            newEmployer.innerHTML = `
                <span>${selectedEmployerName}</span>
                <input type="hidden" name="employersIds" value="${selectedEmployerId}">
                <button type="button" onclick="removeEmployer(this)">Видалити</button>
            `;

            employersList.appendChild(newEmployer);
        }

        function removeEmployer(button) {
            button.parentElement.remove();
        }

        function submitForm(event) {
            event.preventDefault();

            const customerId = document.getElementById("customerId").value;
            const name = document.getElementById("name").value;
            const email = document.getElementById("email").value;
            const phone = document.getElementById("phone").value;
            const age = document.getElementById("age").value;

            const employers = Array.from(document.getElementsByName("employersIds")).map(input => input.value);

            const customerData = {
                name: name,
                email: email,
                phone: phone,
                age: age,
                employersIds: employers
            };

            fetch(`/customers/${customerId}/edit`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(customerData)
            })
                .then(response => {
                    if (response.ok) {
                        window.location.href = `/customers/${customerId}`;
                    } else {
                        console.error('Failed to submit the form.');
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</head>
<body>
<h1>Редагування клієнта</h1>
<form onsubmit="submitForm(event)">
    <input type="hidden" id="customerId" th:value="${customer.id}">

    <label for="name">Ім'я:</label>
    <input type="text" id="name" name="name" th:placeholder="${customer.name}" th:value="${customer.name}" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" th:placeholder="${customer.email}" th:value="${customer.email}" required>
    <br>
    <label for="phone">Телефон:</label>
    <input type="text" id="phone" name="phone" th:placeholder="${customer.phone}" th:value="${customer.phone}" required>
    <br>
    <label for="age">Вік:</label>
    <input type="number" id="age" name="age" th:placeholder="${customer.age}" th:value="${customer.age}" min="0" required>
    <br>

    <label for="employerSelect">Виберіть працедавця:</label>
    <select id="employerSelect">
        <option value="" disabled selected>Вибір працедавця</option>
        <option th:each="employer : ${allEmployers}" th:value="${employer.id}" th:text="${employer.name}"></option>
    </select>
    <button type="button" onclick="addEmployer()">Додати</button>
    <br>

    <div id="employersList">
        <!-- Pre-existing employers -->
        <div th:each="employer : ${employers}">
            <span th:text="${employer.name}"></span>
            <input type="hidden" name="employersIds" th:value="${employer.id}">
            <button type="button" onclick="removeEmployer(this)">Видалити</button>
        </div>
    </div>

    <br>
    <input type="submit" value="Зберегти зміни">
</form>

<form th:action="@{'/customers/' + ${customer.id} + '/delete'}" method="post">
    <input type="submit" value="Видалити клієнта">
</form>
</body>
</html>
