<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Всі клієнти</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Всі клієнти</h1>
<ul>
    <li th:each="customer : ${customers}">
        <div>
            <h2 th:text="${customer.name}">Ім'я</h2>
            <a th:href="@{'/customers/' + ${customer.id}}">Показати деталі клієнта</a>
            <table>
                <thead>
                <tr>
                    <th>Номер рахунку</th>
                    <th>Валюта</th>
                    <th>Баланс</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="account : ${customer.accounts}">
                    <td th:text="${account.number}">Номер рахунку</td>
                    <td th:text="${account.currency}">Валюта</td>
                    <td th:text="${account.balance}">Баланс</td>
                </tr>
                </tbody>
            </table>
        </div>
    </li>
</ul>
<a href="/customers/new">Додати нового клієнта</a>
<br>
<a href="/employers">Перейти до працедавців</a>
</body>
</html>