<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Деталі рахунку</title>
</head>
<body>
<h1>Деталі рахунку</h1>
<p>Номер рахунку: <span th:text="${account.number}"></span></p>
<p>Баланс: <span th:text="${account.balance}"></span></p>
<p>Користувач: <a th:href="@{'/customers/' + ${customer.id} }" th:text="${customer.name}"></a></p>
<h1>Переказ коштів</h1>
<h2>Зняття коштів</h2>
<form action="/accounts/withdraw" method="post">
    <input name="from" type="hidden" th:value="${account.id}">
    <input name="amount" type="number" placeholder="сума">
    <input type="submit" value="Зняти">
</form>
<h2>Додавання коштів</h2>
<form action="/accounts/deposit" method="post">
    <input name="from" type="hidden" th:value="${account.id}">
    <input name="amount" type="number" placeholder="сума">
    <input type="submit" value="Додати">
</form>
<h2>Переказ коштів</h2>
<form action="/accounts/transfer" method="post">
    <input name="from" type="hidden" th:value="${account.id}">
    <input name="to" type="text" placeholder="куди">
    <input name="amount" type="number" placeholder="сума">
    <input type="submit" value="Переказати">
</form>
<form th:action="@{ '/customers/' + ${account.customer.id} + '/accounts/' + ${account.id} + '/delete'}" method="post">
    <input type="submit" value="Видалити рахунок">
</form>
</body>
</html>