<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редагування клієнта</title>
    <script>
        function addEmployer() {
            const employerSelect = document.getElementById("employerSelect");
            const selectedEmployerId = employerSelect.value;
            const selectedEmployerName = employerSelect.options[employerSelect.selectedIndex].text;

            if (selectedEmployerId === "") return;

            const existingEmployers = document.getElementsByName("employersIds");
            for (let i = 0; i < existingEmployers.length; i++) {
                if (existingEmployers[i].value === selectedEmployerId) return;
            }

            const employersList = document.getElementById("employersList");
            const newEmployer = document.createElement("div");

            newEmployer.innerHTML = `
                <span>${selectedEmployerName}</span>
                <input type="hidden" name="employersIds" value="${selectedEmployerId}">
                <button type="button" onclick="removeEmployer(this)">Видалити</button>
            `;

            employersList.appendChild(newEmployer);
        }

        function removeEmployer(button) {
            button.parentElement.remove();
        }
    </script>
</head>
<body>
<h1>Редагування клієнта</h1>
<form th:action="@{'/customers/' + ${customer.id} + '/edit'}" method="post">
    <label for="name">Ім'я:</label>
    <input type="text" id="name" name="name" th:placeholder="${customer.name}" th:value="${customer.name}" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" th:placeholder="${customer.email}" th:value="${customer.email}" required>
    <br>
    <label for="age">Вік:</label>
    <input type="number" id="age" name="age" th:placeholder="${customer.age}" th:value="${customer.age}" min="0" required>
    <br>

    <label for="employerSelect">Виберіть працедавця:</label>
    <select id="employerSelect">
        <option value="" disabled selected>Вибір працедавця</option>
        <option th:each="employer : ${employers}" th:value="${employer.id}" th:text="${employer.name}"></option>
    </select>
    <button type="button" onclick="addEmployer()">Додати</button>
    <br>

    <div id="employersList">
        <!-- Pre-existing employers -->
        <div th:each="employer : ${customer.employers}">
            <span th:text="${employer.name}"></span>
            <input type="hidden" name="employersIds" th:value="${employer.id}">
            <button type="button" onclick="removeEmployer(this)">Видалити</button>
        </div>
    </div>

    <br>
    <input type="submit" value="Зберегти зміни">
</form>

<form th:action="@{'/customers/' + ${customer.id} + '/delete'}" method="post">
    <input type="submit" value="Видалити клієнта">
</form>
</body>
</html>
