<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Деталі клієнта</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<a th:href="@{/customers}">назад до списку клієнтів</a>
<h1>Деталі клієнта</h1>
<p>Ім'я: <span th:text="${customer.name}"></span></p>
<p>Email: <span th:text="${customer.email}"></span></p>
<p>Вік: <span th:text="${customer.age}"></span></p>
<p>Працедавці: <span th:each="employer, iterStat : ${customer.employers}">
    <span th:text="${employer.name}"></span>
    <span th:if="${!iterStat.last}">, </span>
</span></p>
<h2>Відкриті рахунки</h2>
<ul>
    <li th:each="account : ${customer.accounts}">
        <a th:href="@{'/customers/' + ${customer.id} + '/accounts/' + ${account.id}}">Показати деталі рахунку</a>
        <table>
            <thead>
            <tr>
                <th>Номер рахунку</th>
                <th>Валюта</th>
                <th>Баланс</th>
            </tr>
            </thead>
            <tbody>
                <td th:text="${account.number}">Номер рахунку</td>
                <td th:text="${account.currency}">Валюта</td>
                <td th:text="${account.balance}">Баланс</td>
            </tbody>
        </table>
    </li>
</ul>
<form th:action="'/customers/' + ${customer.id}" method="post">
    <input type="submit" value="Додати рахунок">
</form>
<a th:href="@{'/customers/' + ${customer.id} + '/edit'}">Редагувати клієнта</a>
</body>
</html>